{% extends 'base.html.twig' %}

{% from "_macros/productCard.html.twig" import productCard %}

{% block title %}Wild Supply
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('formCategoryItem') }}
	{{ encore_entry_link_tags('indexCategoryItems') }}
{% endblock %}


{% block body %}
	<main class="container index-category">
		<h1 class="text-center">Toutes les Catégories</h1>

		<form method="post" class="bg-light border rounded p-4 mb-3">
			<h2 class="mb-2">Sélectionnes 4 Catégories à mettre en avant !</h2>
			<input type="hidden" name="type" value="select">
			<div class="cardsCarousel">
				{% for categoryItem in categoriesItems %}
					<label class="label-cat">
						<input class="checkbox-category" type="checkbox" name="category[]" value="{{categoryItem.title}}">
						<div class="label-category">
							<div class="card-category" style="background-image: url(/images/category/{{ categoryItem.photo }});">
								<img src="/images/category/{{ categoryItem.logo }}" alt="logo of {{categoryItem.logo}}" class="logo-card-category" style="background-color: white">
								<div class="text-card">
									<h3>{{ categoryItem.title }}</h3>
									<p>{{ categoryItem.description}}</p>
								</div>
							</div>
						</div>
						<a href="/categories_items/edit?id={{ categoryItem.id }}">
							<div class="penEditCategory" style="background-image: url( {{ asset('build/images/pen_icon.png') }});"></div>
						</a>
					</label>
				{% else %}
					<li>Nothing to display</li>
				{% endfor %}
			</div>
			<button type="submit" class="btn">Valider</button>
		</section>
	</form>
	{{ form_start(form) }}
	<input type="hidden" name="type" value="add">
	{{ form_widget(form) }}
	<button class="btn">{{ button_label|default('Save') }}</button>
	{{ form_end(form) }}

</main>{% endblock %}
