{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<main class="container">

<div class="loginFields">
    <h1 class="text-center">Créer un compte</h1>
    {{ form_start(registrationForm, {
            attr: {'class': 'registrationForm'}
        }) }}
        {{ form_row(registrationForm.pseudo, {
            label: 'Pseudo',
            attr: {'class': 'form-control'}
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password',
            attr: {'class': 'form-control'}
        }) }}
        {{ form_row(registrationForm.adress, {
            label: 'Address',
            attr: {'class': 'form-control'}
        }) }}
        {{ form_row(registrationForm.email, {
            attr: {'class': 'form-control'}
        }) }}

        {{ form_row(registrationForm.firstname, {
            label: 'Prénom',
            attr: {'class': 'form-control'}
        }) }}
        {{ form_row(registrationForm.lastname, {
            label: 'Nom',
            attr: {'class': 'form-control'}
        }) }}
        {{ form_row(registrationForm.phone_number, {
            label: 'Numéro de téléphone',
            attr: {'class': 'form-control'}
        }) }}
        {{ form_row(registrationForm.photoFile, {
            attr: {'class': 'form-control'}
        }) }}
        <button type="submit" class="centerButton btn btn-lg btn-primary">Créer le compte</button>
</div>


    {{ form_end(registrationForm) }}
</main>
{% endblock %}
