{% extends 'base.html.twig' %}
{% block stylesheet %}
	{{ encore_entry_link_tags('productCard') }}
{% endblock %}

{% block title %}
	Page produits -
	{{ parent() }}
{% endblock %}

{% block body %}
	<main>
		<h1>
			Tous les produits :
		</h1>

		{% if products is not empty %}
			{% for product in products %}
				<article class="productCard" onload="productCard.onload(this)">
					<a href="{{ path('products_show', {id: product.id}) }}">
						<div class="imageContainer">
							<div class="image" style="background-image: url({{ asset(pathImages ~ product.photo[0]) }});"></div>
						</div>
						<div class="content">
							<div>
								<div>
									<div class="seller">
										<p class="label">Vendu par</p>
										<div class="user">
											<div class="avatar" style="background-image: url({{ asset(product.user.photo) }});"></div>
											<p class="pseudo">
												{{ product.user.pseudo }}
											</p>
										</div>
									</div>
								</div>

							</div>
							<div>
								<h2 class="title">{{ product.title }}</h2>
								<p class="price">{{ product.price ~ " €" }}</p>
							</div>
						</div>
					</a>
				</article>


			{% endfor %}

		{% else %}
			Aucun produit trouvés.
		{% endif %}
	</div>
</main>{% endblock %}{% block javascript %}
<script src="/assets/js/products.js"></script>{% endblock %}
