{% extends 'base.html.twig' %}
{% from "_macros/productCard.html.twig" import productCard %}
{% block stylesheet %}
	{{ encore_entry_link_tags('productCard') }}
	{{ encore_entry_link_tags('form_products') }}
{% endblock %}

{% block title %}
	Page produits -
	{{ parent() }}
{% endblock %}

{% block body %}
	<main>
		<div class="header">

			<h1 class="text-center">
        {% if category %}
          Tous les produits de {{ category.title }}:
        {% else %}
          Tous les produits:
        {% endif %}
			</h1>

		</div>
		{% if products is not empty %}
			<div
				class="flex_article">
				{% for product in products %}
					{{ productCard(product) }}
				{% endfor %}
			</div>


		{% else %}
			Aucun produit trouvés.
		{% endif %}
	</div>
</main>{% endblock %}{% block javascript %}
<script src="/assets/js/products.js"></script>{% endblock %}
