{% extends 'base.html.twig' %}

{% block stylesheet %}
 {{ encore_entry_link_tags('footerLink') }}
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
        {% endblock %}
{% block body %}
	<main class="container footerMembers">
    <h1>Qui sommes nous ?</h1>
		<ul class="wilders">
			<li class="wilder">
				<article>
					<div class="photoInfo">
						<img class="wilderPhoto" src="/{{ pathImages }}marc.jpg" alt="photo membre">
                        <h2>Marc-Antoine</h2>
					</div>
					<a href="https://www.linkedin.com/in/marc-antoine-germe-5ab104224" target="_blank">
						<i class="fa-brands fa-linkedin iconlink"></i>
					</a>
					<a href="https://github.com/Markus0059">
						<i class="fa-brands fa-github iconlink"></i>
					</a>

				</article>
			</li>
			<li class="wilder">
				<article>
					<div class="photoInfo">
						<img class="wilderPhoto" src="/{{ pathImages }}axel.jpeg" alt="photo membre">
                        <h2>Axel</h2>
					</div>
					<a href="https://www.linkedin.com/in/axel-juste-7a5704240/" target="_blank">
						<i class="fa-brands fa-linkedin iconlink"></i>
					</a>
					<a href="https://github.com/Feals">
						<i class="fa-brands fa-github iconlink"></i>
					</a>
				</article>
			</li>
			<li class="wilder">
				<article>
					<div class="photoInfo">
						<img class="wilderPhoto" src="/{{ pathImages }}mehdi.jpeg" alt="photo membre">
                        <h2>Mehdi</h2>
					</div>
					<a href="https://www.linkedin.com/in/daaji-mehdi/" target="_blank">
						<i class="fa-brands fa-linkedin iconlink"></i>
					</a>
					<a href="https://github.com/MehdiDAAJI">
						<i class="fa-brands fa-github iconlink"></i>
					</a>
				</article>
			</li>
			<li class="wilder">
				<article>
					<div class="photoInfo">
						<img class="wilderPhoto" src="/{{ pathImages }}natalia.jpeg" alt="photo membre">
                        <h2>Natalia</h2>
					</div>
					<a href="https://www.linkedin.com/in/natalia-nedbailo-7036b718/" target="_blank">
						<i class="fa-brands fa-linkedin iconlink"></i>
					</a>
					<a href="https://github.com/Kengaroo">
						<i class="fa-brands fa-github iconlink"></i>
					</a>
				</article>
			</li>
			<li class="wilder">
				<article>
					<div class="photoInfo">
						<img class="wilderPhoto" src="/{{ pathImages }}marco.jpeg" alt="photo membre">
                        <h2>Marco</h2>
					</div>
					<a href="https://www.linkedin.com/in/marco-sigismondi1992/" target="_blank">
						<i class="fa-brands fa-linkedin iconlink"></i>
					</a>
					<a href="https://github.com/marcosigis">
						<i class="fa-brands fa-github iconlink"></i>
					</a>
				</article>
			</li>
		</ul>
	</main>
{% endblock %}