{% from "_macros/loginPrompt.html.twig" import loginPrompt %}
{% from "_macros/utils.html.twig" import button, userAvatar %}


<header class='top-bar'>
	<div class="main">
		<a href="/">
		<img src="/{{ pathImages }}logook.png" class="logo" alt="logo"></a>
	</div>
	<form class="search-box" id="search" action="/products" method="GET">
		<img src="/{{ pathImages }}magglass.png">
		<input type="text" class="input-search" placeholder="Rechercher..." name="search" id="search">
		{{ button("Go!", { submit: true }) }}
	</form>
	<ul class="menu" id="icons">
		{% if app.user %}
			<li>
				<a href="/products/add"><img src="/{{ pathImages }}Vector.png"></a>
			</li>
			<li>
				<a href="/products/book"><img src="/{{ pathImages }}carnet.png"></a>
			</li>
			<li>

				<a href="/cart"><img src="/{{ pathImages }}panier.png">


                    {% for cart in app.user.carts %}
                        {% if (cart.validated == false) and (cart|length > 0) %}
                        <div class="cartNbr">
                            {{ cart.products|length }}
                        </div>
                        {% endif %}
                    {% endfor %}
				</a>
			</li>
			<li>

				<a class="loginButton"><img src="{{ vich_uploader_asset(app.user, 'photoFile') }}" alt="" /></a>

			</li>
		{% else %}
			<li>
				<a class="loginButton"><img src="/{{ pathImages }}compte.png"></a>
			</li>
		{% endif %}
	</ul>
	<nav>
		<ul class="burger-button">
			<li>
				<button class="hamburger">
					<div class="bar"></div>
				</button>
			</li>
		</ul>
		{{ loginPrompt() }}
	</nav>
</header>
<nav class="header2">
	<!-- Quick access categories -->
	<ul class="quick-access">
		{% for index, category in categoryItems.selectAllInCarousel %}
			<li>
				<a href="/products?category={{ category.id }}">

                    <img src="/{{pathImages ~ category.logo}}" alt="{{ category.id }}">
                    <p>{{ category.title }}</p>

				</a>
			</li>
			{% if index < (categoryItems.selectAllInCarousel|length) - 1 %}
				<li class="line"></li>
			{% endif %}
		{% endfor %}
	</ul>
	{% if app.user %}
		<div class="mobile-nav">
			<div>
				{{ userAvatar(app.user.photo) }}
			</div>
			<ul>

				<li><a href="/products/add"><img src="{{ pathImages }}Vector.png" alt="add logo"></a></li>
				<li><a href="/products/book"><img src="{{ pathImages }}carnet.png" alt="book logo"></a></li>
				<li><a href="/cart"><img src="{{ pathImages }}panier.png" alt="cart logo">
        {% for cart in app.user.carts %}
                        {% if (cart.validated == false) and (cart|length > 0) %}
                        <div class="cartNbr">
                            {{cart|length}}
                        </div>
                        {% endif %}
                    {% endfor %}
        </a></li>

				<li><a href="/logout"><img src="/{{ pathSvg }}logout.svg" alt="logout logo"></a></li>
			</ul>
		</div>
	{% endif %}
</nav>
